<!DOCTYPE html>
<html>
  <head>
    <%- include('components/header.ejs') -%>
  </head>
  <body>
    <%- include('components/navbar.ejs') -%>
    <h1>Data Dosen</h1>
    <form action="/dosen" method="POST">
      <p>Nama dosen</p>
      <input type="text" placeholder="Nama dosen" name="nama_dosen" />
      <p>NIP</p>
      <input type="text" placeholder="NIP" name="nomor_dosen" />
      <!-- <p>Bobot</p>
      <input type="text" placeholder="Bobot" name="bobot" /> -->
      <p>NIDN</p>
      <input type="text" placeholder="NIDN" name="nidn" />
      <button type="submit" class="waves-effect waves-light btn">Submit</button>
    </form>
    <table>
      <thead>
        <tr>
          <th>ID</th>
          <th>Nama dosen</th>
          <th>NIP</th>
          <!-- <th>Bobot</th> -->
          <th>NIDN</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <% for(var i=0; i < data.length; i++) { %>
        <tr>
          <td><%= data[i].id_dosen %></td>
          <td><%= data[i].nama_dosen %></td>
          <td><%= data[i].nomor_dosen %></td>
          <!-- <td><%= //data[i].bobot %></td> -->
          <td><%= data[i].nidn %></td>
          <td><a href="/dosen/<%= data[i].id_dosen %>" class="waves-effect waves-light btn btn-danger">Delete</a></td>
        </tr>
        <% } %>
      </tbody>
    </table>
  </body>
</html>
