<!DOCTYPE html>
<html>
  <head>
    <%- include('components/header.ejs') -%>
  </head>
  <body>
    <h1>Data Dosen</h1>
    <form action="/dosen" method="POST">
      <input type="text" placeholder="Nama dosen" name="nama_dosen" />
      <input type="text" placeholder="Nomor dosen" name="nomor_dosen" />
      <input type="text" placeholder="Jabatan" name="jabatan" />
      <input type="text" placeholder="Bobot" name="bobot" />
      <button type="submit" class="waves-effect waves-light btn">Submit</button>
    </form>
    <table>
      <thead>
        <tr>
          <th>ID</th>
          <th>Nama dosen</th>
          <th>Nomor dosen</th>
          <th>Jabatan</th>
          <th>Bobot</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <% for(var i=0; i < data.length; i++) { %>
        <tr>
          <td><%= data[i].id_dosen %></td>
          <td><%= data[i].nama_dosen %></td>
          <td><%= data[i].nomor_dosen %></td>
          <td><%= data[i].jabatan %></td>
          <td><%= data[i].bobot %></td>
          <td><a href="/dosen/<%= data[i].id_dosen %>" class="waves-effect waves-light btn btn-danger">Delete</a></td>
        </tr>
        <% } %>
      </tbody>
    </table>
  </body>
</html>
