<!DOCTYPE html>
<html>
  <head>
    <%- include('components/header.ejs') -%>
  </head>
  <body>
    <%- include('components/navbar.ejs') -%>
    <h1>Isi Regex / Keyword</h1>
    <form action="/isi" method="POST">
      <input type="text" placeholder="Rule Regex Isi" name="regex_isi" />
      <input type="text" placeholder="Keterangan" name="keterangan" />
      <button type="submit" class="waves-effect waves-light btn">Submit</button>
    </form>
    <table>
      <thead>
        <tr>
          <th>ID</th>
          <th>Regex Isi</th>
          <th>Keterangan</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <% for(var i=0; i < data.length; i++) { %>
        <tr>
          <td><%= data[i].id_regex_isi %></td>
          <td><%= data[i].regex_isi %></td>
          <td><%= data[i].keterangan %></td>
          <td><a href="/isi/<%= data[i].id_regex_isi %>" class="waves-effect waves-light btn btn-danger">Delete</a></td>
        </tr>
        <% } %>
      </tbody>
    </table>
  </body>
</html>
