<!DOCTYPE html>
<html>
  <head>
      <%- include('components/header.ejs') -%>
  </head>
  <body>
    <h1>Judul</h1>
    <form action="/judul" method="POST">
      <input type="text" placeholder="Tipe Judul" name="tipe_judul" />
      <input
        type="text"
        placeholder="Trigger word (e.g A, B, C)"
        name="trigger_word"
      />
      <button type="submit" class="waves-effect waves-light btn">Submit</button>
    </form>
    <table>
      <thead>
        <tr>
          <th>ID</th>
          <th>Tipe Judul</th>
          <th>Trigger Word</th>
          <th>Is nama dosen matter</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <% for(var i=0; i < data.length; i++) { %>
        <tr>
          <td><%= data[i].id_judul %></td>
          <td><%= data[i].tipe_judul %></td>
          <td><%= data[i].trigger_word %></td>
          <td><%= data[i].is_multiple %></td>
          <td><a href="/judul/<%= data[i].id_judul %>" class="waves-effect waves-light btn btn-danger">Delete</a></td>
        </tr>
        <% } %>
      </tbody>
    </table>
  </body>
</html>
